<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CYCLE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/cycle" style="color: white; font-size: 32px; font-family: Rajdhani; font-weight: 500; line-height: 55px;">CYCLE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/bikes">Bikes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bikes">E-Bikes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bikes">Equipment</a>
            </li>
          </ul>

          <p><a href="/login"><img src="../static/user.png" style="width:50px;height:50px;"></a></p>
        </div>
      </div>
    </nav>


  <div style="width: 100%; background: white">
    <div style="width: 100%; height: 1176px; left: 0px; top: 96px; position: absolute; background: #121212"></div>
    <div style="width: 100%; height: 1444px; left: 197px; top: 199px; position: absolute">
        <div style="width: 100%; height: 671px; left: 0px; top: 135px; position: absolute">
            <img style="width: 270px; height: 212px; left: 290px; top: 457px; position: absolute; border-radius: 10px" src="../static/trek1.png" />
            <img style="width: 270px; height: 214px; left: 0px; top: 457px; position: absolute; border-radius: 10px" src="../static/trek3%201.png" />
            <img style="width: 560px; height: 431px; left: 0px; top: 0px; position: absolute; border-radius: 10px" src="../static/trek2.png" />
        </div>
        <div style="width: 747px; height: 1056px; left: 620px; top: 388px; position: absolute">
            <div style="width: 318.17px; height: 15.88px; left: 0px; top: 0px; position: absolute; color: white; font-size: 12px; font-family: Poppins; font-weight: 500; text-transform: uppercase; line-height: 16px; letter-spacing: 0.18px; word-wrap: break-word">Informations</div>
            <div style="width: 747px; height: 1024.49px; left: 0px; top: 31.51px; position: absolute">
                <div style="width: 747px; height: 992.73px; left: 0px; top: 31.77px; position: absolute; color: #B3B3B3; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; word-wrap: break-word">The Émonda SLR 7 Disc is an ultra-light, aerodynamic carbon road bike and Trek's fastest climber. Along with the legendary ride quality of Trek 's lightest road bike platform, this bike's aerodynamic tubes of lightweight OCLV layup deliver plenty of speed. Plus, you'll benefit from the precision and unmatched shifting speed of the new Shimano Ultegra Di2 wireless electronic drivetrain.</div>
                <div style="width: 532.58px; height: 23.83px; left: 0px; top: 0px; position: absolute; color: white; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Trek ÉMONDA SLR 7 DISC Ultegra Di2 Roadbike - 2023</div>
            </div>
        </div>
        <div style="width: 540px; height: 196px; left: 620px; top: 136px; position: absolute">
            <div style="width: 540px; left: 0px; top: 0px; position: absolute; color: #B3B3B3; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 36px; word-wrap: break-word">Trek ÉMONDA SLR 7 DISC Ultegra Di2 Roadbike - 2023 - Metallic Red Smoke to Red Carbon Smoke</div>

            <div style="width: 150px; height: 56px; padding-left: 32px; padding-right: 32px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 140px; position: absolute; background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%); border-radius: 5px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                <a href="/buy" style="color: #332200; font-size: 18px; font-family: Poppins; font-weight: 600; text-transform: uppercase; line-height: 24px; word-wrap: break-word">Buy now</a>
            </div>
        </div>
        <div style="left: 0px; top: 0px; position: absolute; color: white; font-size: 64px; font-family: Poppins; font-weight: 400; line-height: 72px; word-wrap: break-word">Trek ÉMONDA SLR 7</div>
        <div style="left: 801px; top: 279px; position: absolute; color: #B3B3B3; font-size: 36px; font-family: Poppins; font-weight: 600; line-height: 48px; word-wrap: break-word">7.142,02 €</div>
    </div>

    <div style="left: 817px; top: 848px; position: absolute; color: #B3B3B3; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; word-wrap: break-word">Choose between variety of breaking discs, shifters, peddals and many more options</div>

    <div style="width: 100%; height: 492px; left: 0px; top: 1250px; position: absolute">
        <div style="width: 100%; height: 492px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="left: 520px; top: 60px; position: absolute; color: white; font-size: 24px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 32px; letter-spacing: 0.36px; word-wrap: break-word">COntact</div>
        <div style="left: 1020px; top: 60px; position: absolute; color: white; font-size: 24px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 32px; letter-spacing: 0.36px; word-wrap: break-word">more Informations</div>
        <div style="left: 520px; top: 124px; position: absolute; color: #B3B3B3; font-size: 18px; font-family: Roboto; font-weight: 400; line-height: 32px; letter-spacing: 0.27px; word-wrap: break-word">+389 00 000 000<br/>maili@mail.com<br/><br/>Street: "Ruger Boskovikj" <br/>Skopje, R. Macedonia</div>
        <div style="width: 360px; height: 2px; left: 520px; top: 203px; position: absolute; background: #121212"></div>
        <div style="width: 360px; height: 2px; left: 520px; top: 299px; position: absolute; background: #121212"></div>
        <div style="left: 1020px; top: 124px; position: absolute; color: #B3B3B3; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 36px; letter-spacing: 0.27px; word-wrap: break-word">Contact support</div>
        <div style="left: 163px; top: 173px; position: absolute; color: #9C9C9C; font-size: 18px; font-family: Roboto; font-weight: 400; line-height: 32px; letter-spacing: 0.27px; word-wrap: break-word">Cycle © All rights reserved.</div>
        <img style="width: 452.52px; height: 393.42px; left: 49px; top: -233.57px; position: absolute" src="../static/bike2.png" />
    </div>

</div>
</body>
</html>